
.reef { // reef container
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.reef__coral { // coral elements
  position: absolute;
  border-radius: 50%;

  @for $i from 1 through 14 {
    &:nth-child(#{$i}) {
      $size : random(12) + 8 + vw;
      $top : random(115) - 15 + vh;
      $right : random(115) - 15 + vw;
      $duration : random(25) + 5 + s;
      $transform : random(100);
      $percent : percentage($transform / 1000);

      background: rgba($accentK, 0.018);
      width: $size;
      height: $size;
      top: $top;
      right: $right;
      -webkit-filter: blur(2px);
      animation: fluctuate $duration ease infinite, bleach 25s ease-out forwards 0.5s;

      &:nth-of-type(2),
      &:nth-of-type(6),
      &:nth-of-type(4),
      &:nth-of-type(9),
      &:nth-of-type(12) {
        background: none;
        border: 1px solid rgba($accentK, 0.065);
      }

      @keyframes fluctuate {
        0%{transform: scale3d(1,1,1) translate3d(0,0,0)}
        33%{transform: scale3d(0.95,0.95,1) translate3d($percent,$percent,0)}
        66%{transform: scale3d(1.05,1.05,1) translate3d(0,0,0)}
        100%{transform: scale3d(1,1,1) translate3d(0,0,0)}
      }
    }
  }
}
